/* 快捷导航 */
.shortcut{
    background-color: #333333;
}
.shortcut .wrapper{
    /* background-color: pink; */

    height: 52px;
}

.shortcut ul{
    display: flex;
    justify-content: flex-end;
    line-height: 52px;
}

.shortcut  li a{
    padding:0 15px;
    border-right: 1px solid #FFFFFF ;
    font-size: 14px;
    color: #FFFFFF;
}

.shortcut ul li:last-child a{
    border-right: 0;
}
.shortcut .iconfont{
    margin-right: 4px;
    vertical-align: middle;
}
.shortcut .login{
    color: #5EB69C;
}

/* 头部导航 */
.header  {
    display:flex;
    align-items: center;
    height: 88px;
    margin:22px auto;
    /* background-color:pink; */
    
}

.header .logo{
    width: 200px;
    height: 88px;
    background-image: url(../images/logo.png);
}

.header .nav ul{
    display:flex;
    height: 88px;
    align-items: center;
   
}
.header .nav ul li{
    padding-left:48px;
}

.header .nav ul a{
    display: block;
    width: 32px;
    height: 22px;
    padding-bottom: 40px;
}

.header .nav ul a:hover{
    display: block;
    border-bottom: 2px solid #5EB69C; 
    color: #5EB69C;
}

.header .search {
    display: flex;
    align-items: center;
    margin-left: 75px;
    padding-bottom: 10px;
    border-bottom: 2px solid #F4F4F4;
}
.header .search input{
    height: 22px;
}

.header .search input::placeholder{
    padding-left: 8px;
    font-size: 16px;
    color: #CCCCCC;
}

.header .search .icon-search{
    font-size: 20px;
    color: #CCCCCC;
}

.header .cart {
    position: relative;
    margin-left: 30px;
}

.header .cart .icon-cart-full{
    font-size: 30px;
}

.header .cart p{
    position:absolute;
    left:15px;
    top:5px;
    height: 15px;
    padding: 0 6px;
    font-size: 14px;
    text-align: center;
    line-height: 15px;
    background-color: #E26237;
    border-radius: 8px;
}

 /* banner */
 .banner {
    height: 500px;
    background-color: #F5F5F5;
 }

 .banner .wrapper{
    display: flex;
    height: 100%;
    /* background-color: pink; */
 }


 .banner .left li{
    position: relative;
    display: block;
    width: 250px;
    height: 50px;
    padding: 14px 29px 0;
    line-height: 16px;

    background-color:#333333;
    opacity: 0.42;   
 }
 .banner .left li p{
    display: inline-block;
    font-size: 16px;
    color:#FFFFFF;
 }

 .banner .left li span{
    font-size: 14px;
    margin-left: 14px;
    line-height: 14px;
    color:#FFFFFF;
 }

 .banner .left li .iconfont{
    position: absolute;
    display: inline-block;
    width: 5.5px;
    height: 10px;
    right:12px;
    color:#FFFFFF;
 }

 .banner .left li:hover{
    background-color: #00BE9A;
    opacity: 1;
 }

 .banner .right {
    position: relative;
 }

.banner .right ul{
    display: flex;
    position: absolute;
    bottom: 21px;
    right:20px;

}

.banner .right ul li{
    width: 22px;
    height: 22px;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: rgba(255,255,255,0.50); */
    
}

.banner .right ul i{
    display: block;
    /* 让图片居中 */
    margin: 4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.50);
}

.banner .right ul li:hover{
    background-color: rgba(255,255,255,0.5);
}
.banner .right ul li:hover i{
    background-color: rgba(255,255,255,1);
}

.banner .right a{
    display: block;
    width: 990px;
    height: 500px;
    background-image: url("../uploads/banner1.png");
}

/* goods */
.goods{
    height: 476px;
    /* background-color: pink; */
}



 /* footer */
 .footer{
    height: 582px;
    background-color:#F5F5F5;
 }

 .footer .service{
    height: 178px;
    padding: 60px 0;
    border-bottom: 1px solid #E8E8E8;
 }

 .service ul{
    display: flex;
    justify-content: space-evenly;
 }

 .service ul li{
    display: flex;
    height: 58px;
    width: 190px;
    align-items: center;
 }
 .service ul li h5{
    width: 58px;
    height: 58px;
    background-image: url(../images/sprite.png);
 }

 .service ul li:nth-child(2) h5{
    background-position: 0 -58px;
 }

 .service ul li:nth-child(3) h5{
    background-position: 0 -116px;
 }

 .service ul li:nth-child(4) h5{
    background-position: 0 -174px;
 }
 .service ul li p{
    margin-left: 20px;
    font-size: 28px;
    color:#333333 ;
 }

 .footer .help{
    height: 212px;
 }

 .foot .copyright{
    height: 190px;
 }

 .footer .help{
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 100px;
 }

.footer .help .left{
    display: flex;
}

.help .left dl{
    margin-left: 84px;

}
.help .left dl:nth-child(1){
    margin-left:0;

}
.help .left dt{
    margin-bottom: 30px;
    font-size: 18px;
    color: #333333;
    font-weight: 400;
}
.help .left dd a{ 
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #969696;
    line-height: 22px;
    font-weight: 400;
}

.help .right{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: #969696;
}

.help .right img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.help .right .download{
    margin-left: 50px;
}
.icon-customer-service{
    color:#5EB69C;
    font-size: 16px;
    padding-left: 5px;
}
.copyright{
    text-align: center;
    color: #A1A1A1 ;
    font-size: 16px;
}
.copyright a{
    display: inline-block;
    padding: 10px 5px;
    color: #A1A1A1 ;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}